<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.jamesegger.americanbureaucracy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/congresssssiconnew_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/congresssssiconnew_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.executive.executiveRelated"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.main.MainActivity">
        </activity>


        <activity
            android:name="pro.jamesegger.americanbureaucracy.judicial.judicialRelated"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.main.MainActivity" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.legislative.legislativeRelated"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.main.MainActivity" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.legislative.houseRelated"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.legislative.legislativeRelated" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.legislative.senateRelated"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.legislative.legislativeRelated" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.legislative.legislatordetailsclass"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.legislative.legislativeRelated" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.executive.executiveSpecific"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.executive.executiveRelated" >
        </activity>

        <activity
            android:name="pro.jamesegger.americanbureaucracy.legislative.congressMemberVotes"
            android:parentActivityName="pro.jamesegger.americanbureaucracy.legislative.legislatordetailsclass" >
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>